/*----------------------------------------*/
/*  Service page CSS
/*----------------------------------------*/
.service-slider {
	position: relative;
}

.service-slider .owl-controls {
	position: absolute;
	height: 100%;
	width: 14px;
	left: 0;
	top: 0;
	display: -ms-grid;
	display: grid;
}

.service-slider .owl-dots {
	display: table-cell;
	vertical-align: middle;
}

.service-slider .owl-dots .owl-dot {
	width: 14px;
	height: 13px;
	margin-bottom: 10px;
	background: #e8e8e8;
}

.service-slider .owl-dots .owl-dot.active {
	background: #baff00;
}

.service-text h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

.service-text p {
	margin-bottom: 50px;
}

.service-text ol {
	list-style: none;
}

.service-text ol li {
	font-size: 20px;
	font-weight: 700;
	color: #727272;
	margin-bottom: 20px;
}

.solid-service-box {
	text-align: center;
	background: #fff;
	padding: 50px 30px;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.solid-service-box h2 {
	font-size: 48px;
	color: #727272;
	margin-bottom: 20px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.solid-service-box h3 {
	margin-bottom: 20px;
}

.solid-service-box p {
	font-size: 14px;
	margin-bottom: 20px;
}

.solid-service-box .readmore {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #222;
	opacity: 0;
	visibility: hidden;
	position: relative;
	bottom: -20px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.solid-service-box:hover {
	background: #baff00;
}

.solid-service-box:hover h2 {
	color: #222;
}

.solid-service-box:hover .readmore {
	visibility: visible;
	opacity: 1;
	bottom: 0;
}

.promo-box {
	width: 1383px;
	margin: 0 auto;
	padding: 40px 0;
}

.promo-box .promo-text h1,
.promo-box .promo-text p {
	color: #fff;
}