/*----------------------------------------*/
/*  Header CSS
/*----------------------------------------*/
.header-area {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 50;
}

.logo-area {
	float: left;
	display: inline-block;
	background: #121212;
	padding: 20px 60px 30px;
	width: 100px;
	height: 100px;
}

.logo-area img {
	width: 100px;
	height: 100px;
}

.phone-number {
	float: right;
	display: inline-block;
	padding: 5px 10px;
	background: #baff00;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-right: 50px;
}

.nav-switch {
	display: none;
}

