/*----------------------------------------*/
/*  Header CSS
/*----------------------------------------*/
header {
	display: flex;
	padding: 3px 10px;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	background: rgb(0, 0, 0);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
	transition: .5s;
}

.logo-desktop {
	display: none;
}

.logo-movil img {
	width: 60px;
}

@media (min-width: 768px) {

	header {
		height: 65px;
	}
}

@media (min-width: 992px) {

	header {
		height: 80px;
	}

	.logo-movil {
		display: none;
	}

	.logo-desktop {
		display: flex;
	}

	.logo-desktop img {
		width: 80px;
		height: 70px;
	}

}

@media (min-width: 1024px) {

	header {
		height: 90px;
		justify-content: space-around;
	}

	.logo-desktop img {
		height: 80px;
	}
}